.spacing{
    flex: 1 1 auto;
}

.showMenu{
    opacity: 1;
    pointer-events: all;
}

/* Exemplo para caso troque o icone para menu */
/* .showMenu.is-phone-portrait{
    opacity: 1;
    pointer-events: all;
} */