.cadastro-container-x{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.cadastro-container-y{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nome-sobrenome{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 380px;
    gap: 5%;
}

.sobrenome{
    display: flex;
    width: 50%;
}

.nome{
    display: flex;
    width: 50%;
}

.logradouro-numerorua {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 380px;
    gap: 5%;

}

.logradouro {
    display: flex;
    width: 140%;
}

.bairro-cidade{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 380px;
    gap: 5%;

}


.estado-cep{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 380px;
    gap: 5%;

}

.estado{
    display: flex;
    width: 120%;
}