<app-header [titleT]="title"></app-header>
<main class="cadastro-container-x">
    <div class="cadastro-container-y">
        <section class="nome-sobrenome">
            <mat-form-field class="nome">
                <mat-label>Nome</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="sobrenome">
                <mat-label>Sobrenome</mat-label>
                <input matInput>
            </mat-form-field>
        </section>
        <mat-form-field>
            <mat-label>Data de Nascimento</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com">
            @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
            }
            @if (emailFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
            }
        </mat-form-field>

        <section class="logradouro-numerorua">
            <mat-form-field class="logradouro">
                <mat-label>Logradouro</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="numerorua">
                <mat-label>Numero</mat-label>
                <input matInput>
            </mat-form-field>
        </section>

        <section class="bairro-cidade">
            <mat-form-field class="bairro">
                <mat-label>Bairro</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="cidade">
                <mat-label>Cidade</mat-label>
                <input matInput>
            </mat-form-field>
        </section>

        <section class="estado-cep">
            <mat-form-field class="estado">
                <mat-label>Estado</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="cep">
                <mat-label>CEP</mat-label>
                <input matInput>
            </mat-form-field>
        </section>

        <mat-form-field>
            <mat-label>Complemento</mat-label>
            <input matInput>
        </mat-form-field>
        
        <input type="file" accept="image/*" capture="enviroment" multiple>
    </div>
</main>